![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# ¡Bienvenidos a nuestra Introducción de Python!

En este taller estaremos aprendiendo el Lenguaje de programación Python muy versátil y divertido para muchas cosas.

El entorno que estas viendo se llama CoLab y esta basado en "notebooks" o libretas que permite ejecutar tu código en la nube.

## ¿Programacion en Python?

Python permite variables, condiciones, ciclos, funciones y mucho más como otros lenguajes de programacion

# LOOPS

Las computadoras pueden repetir muchas acciones o cálculos muy rápidamente. 
Un loop es una secuencia de instrucciones de código que se ejecuta repetidas veces, hasta que la condición asignada a dicho bucle deja de cumplirse. 

# FOR

Este tipo de bucle repite un bloque de código un número específico de veces. Usualmente usamos el loop for con listas y cuando sabemos cuántas veces necesitamos repetir un bloque de código

In [ ]:
numeros = [13,14,15,16,17,18,19]
for numeros in numeros:
  print(numeros + 4)

17
18
19
20
21
22
23

# ITERATING THROUGH FOR LOOPS

si no queremos revisar todos los elementos? ¿Qué pasa si solo queremos iterar, digamos 3 veces? ¿O solo pasa por un rango específico de números? 

for -iterator- in -group of items-:

El -iterator- y el -group of items- son las partes que reemplaza cuando crea su propio bucle for. Entonces, si quisiera iterar 3 veces, en lugar de iterar a través de una lista completa o tupla con elementos en ella, reemplazaríamos el -iterator- y el -group of items-  con lo siguiente

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

también puede tomar otro parámetro que sea un punto de partida. Esto nos permite hacer algo similar a dividir listas y tuplas iterando sobre un rango específico de números. Entonces, si quisiéramos saltar directamente al número 10 y luego iterar a través de los números del 20 al 30, usaríamos la función range () de esta manera, usando dos parámetros

In [ ]:
for i in range(5,15):
  print(i)

5
6
7
8
9
10
11
12
13
14

se utiliza como el paso o el número de elementos que se deben omitir al iterar. Entonces, si solo quisiéramos imprimir los múltiplos de 10 en los números entre 1 y 100, usaríamos la función range ()

In [ ]:
for i in range (5,50,5):
  print(i)

5
10
15
20
25
30
35
40
45

# WHILE

Este tipo de bucle también repite un bloque de código una y otra vez, pero seguirá repitiéndose mientras una expresión booleana siga siendo fiel a la computadora.
Solemos usar while cuando no sabemos cuántas veces necesitamos repetir un bloque de código. Recuerde que en el loop for, sabemos exactamente la cantidad de veces que debe repetirse un bloque de código.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
i = 0
while (i < len(numbers)):
  if (numbers[i] + 2) < 20:
    print(numbers[i] + 2)
    i+=1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# LISTAS

## Contenedores básicos

> Nota: Los objetos **mutables** pueden ser modificados después de su creación y los **inmutables** no.

Los contenedores son objetos que pueden utilizarse para agrupar otros objetos. Los tipos de contenedores básicos son:

- **`str`** (cadena: inmutable; indexada por enteros; los elementos se almacenan en el orden en que fueron añadidos)
- **`list`** (lista: mutable; indexada por enteros; los elementos se almacenan en el orden en que se añaden)
  - `[3, 5, 6, 3, 'perro', 'gato', Falso]`
- (tupla: inmutable; indexada por enteros; los elementos se almacenan en el orden en que se añaden)
  - (3, 5, 6, 3, 'perro', 'gato', Falso)`
- **`set`** (set: mutable; no está indexado en absoluto; los elementos NO se almacenan en el orden en que se añadieron; sólo puede contener objetos inmutables; NO contiene objetos duplicados)
  - `{3, 5, 6, 3, 'perro', 'gato', Falso}`
- **`dict`** (diccionario: mutable; los pares clave-valor están indexados por claves inmutables; los elementos NO se almacenan en el orden en que se añadieron)
  - `{'nombre': 'Jane', 'edad': 23, 'fav_foods': ['pizza', 'fruta', 'pescado']}`

Cuando defina listas, tuplas o conjuntos, utilice comas (,) para separar los elementos individuales. Cuando defina dicts, utilice dos puntos (:) para separar las claves de los valores y comas (,) para separar los pares clave-valor.

Las cadenas, las listas y las tuplas son todos **tipos de secuencia** que pueden utilizar los operadores `+`, `*`, `+=` y `*=`.

In [ ]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [ ]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [ ]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{False, 3, 5, 6, 'dog', 'cat'}

In [ ]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [ ]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [ ]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [ ]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Acceso a los datos en los contenedores

Para cadenas, listas, tuplas y dicts, podemos utilizar la **notación de subíndice** (corchetes) para acceder a los datos en un índice.

- las cadenas, listas y tuplas están indexadas por enteros, **empezando por 0** para el primer elemento
  - estos tipos de secuencias también permiten acceder a un rango de elementos, lo que se conoce como **corte**.
  - utilizar la **indexación negativa** para empezar por el final de la secuencia
- los dicts se indexan por sus claves

> Nota: los conjuntos no están indexados, por lo que no podemos utilizar la notación de subíndice para acceder a los elementos de los datos.

In [ ]:
# Access the first item in a sequence
list1[0]

3

In [ ]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [ ]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [ ]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [ ]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [ ]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [ ]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

# Funciones en Python

Una función es un objeto de Python que puedes "llamar" para realizar una acción o calcular y devolver otro objeto. Se llama a una función colocando paréntesis a la derecha del nombre de la función. Algunas funciones permiten pasar argumentos dentro de los paréntesis (separando varios argumentos con una coma). Internamente a la función, estos argumentos son tratados como variables.

Para hacer una funcion utilizamos la palabra **def** que viene del ingles *definition* y se utiliza en Python para reutilizar partes del código llamando su ejecución:

![function](https://i.imgur.com/FwdhGTVm.png)

In [ ]:
def circle_area(radius):              # Definimos la funcion circle_area con el parametro radius
    return 3.141516 * (radius ** 2)   # Retornamos el calculo del area

print("Area de radio 5:",  circle_area(5))              # llamamos la funcion pasando el argumento y imprimimos el valor
print("Area de radio 50:", circle_area(50))
print("Area de radio 500:",  circle_area(500))

Area de radio 5: 78.54
Area de radio 50: 7853.79
Area de radio 500: 785379.0

## Funciones incorporadas de Python 

Algunas funciones permiten pasar **argumentos** dentro de los paréntesis (separando varios argumentos con una coma). Internamente a la función, estos argumentos son tratados como variables.

Python tiene varias funciones incorporadas muy útiles para ayudarte a trabajar con diferentes objetos y/o tu entorno. Aquí hay una pequeña muestra de ellas:

- **`type(obj)`** para determinar el tipo de un objeto
- **`len(container)`** para determinar cuántos elementos hay en un contenedor
- **`callable(obj)`** para determinar si un objeto es llamable
- **`sorted(container)`** para devolver una nueva lista de un contenedor, con los elementos ordenados
- **`suma(contenedor)`** para calcular la suma de un contenedor de números
- **`min(contenedor)`** para determinar el elemento más pequeño de un contenedor
- **`max(contenedor)`** para determinar el elemento más grande de un contenedor
- **`abs(número)`** para determinar el valor absoluto de un número
- **`repr(obj)`** para devolver una representación de cadena de un objeto

> Lista completa de funciones incorporadas: https://docs.python.org/3/library/functions.html

También hay diferentes formas de definir tus propias funciones y objetos invocables que exploraremos más adelante.

In [ ]:
simple_string1 = 'Hello World'
simple_string2 = 'Hola Mundo'
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [ ]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [ ]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [ ]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [ ]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [ ]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [ ]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [ ]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [ ]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [ ]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [ ]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

## Atributos de los objetos de Python (métodos y propiedades)

Los diferentes tipos de objetos en Python tienen diferentes **atributos** a los que se puede hacer referencia por su nombre (similar a una variable). Para acceder a un atributo de un objeto, utiliza un punto (`.`) después del objeto, y luego especifica el atributo (es decir, `obj.atributo`)

Cuando un atributo de un objeto es invocable, ese atributo se llama **método**. Es lo mismo que una función, sólo que esta función está ligada a un objeto concreto.

Cuando un atributo de un objeto no es invocable, ese atributo se llama **propiedad**. Es sólo un dato sobre el objeto, que es en sí mismo otro objeto.

La función incorporada `dir()` puede utilizarse para devolver una lista de los atributos de un objeto.

Por ejemplo para saber todo lo que podemos hacer con un cadena de texto podemos utilizar:
<hr>

In [ ]:
nombre = "Elon"
dir(nombre) # Lista todos los metodos que podemos utilizar

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Algunos métodos sobre objetos de cadena

- **`.capitalize()`** para devolver una versión en mayúsculas de la cadena (sólo el primer carácter en mayúscula)
- **`.upper()`** para devolver una versión en mayúsculas de la cadena (todos los caracteres en mayúsculas)
- **`.lower()`** para devolver una versión en minúsculas de la cadena (todos los caracteres en minúsculas)
- **`.count(substring)`** para devolver el número de apariciones de la subcadena en la cadena
- **`.startswith(substring)`** para determinar si la cadena comienza con la subcadena
- **`.endswith(substring)`** para determinar si la cadena termina con la subcadena
- **`.replace(old, new)`** para devolver una copia de la cadena con las ocurrencias de "old" reemplazadas por "new"

In [ ]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [ ]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [ ]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [ ]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [ ]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [ ]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [ ]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [ ]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [ ]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [ ]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

# Este programa pregunta por 5 números y te dice cual es el mas grande.

# Primero definiremos 5 variables con la funcion input.

In [ ]:
45ç6
a = int(input('Ingresa un numero 1 '))
b = int(input('Ingresa un numero 2 '))
c = int(input('Ingresa un numero 3 '))
d = int(input('Ingresa un numero 4 '))
f = int(input('Ingresa un numero 5 '))

Ingresa un numero 1 1
Ingresa un numero 2 2
Ingresa un numero 3 3
Ingresa un numero 4 4
Ingresa un numero 5 5

# En este paso convertimos cada uno de los inputs en un Array con la funcion 'array' y asignamos esta lista a la variable numeros

In [ ]:
Numeros = [a,b,c,d,f]

# La funcion Max te permitira saber cual es el numero mas grande de la lista recien creada.

In [ ]:
print(max(Numeros))

94

# .format

El metodo **.format** me permite agregar un valor a un texto impreso por medio de {}

In [ ]:
print('El numero mas grande es {}'.format(max(Numeros)))
print('El numero mas chico es {}'.format(min(Numeros)))

El numero mas grande es 94
El numero mas chico es 20

Si queremos podemos utilizar **.format** para tambien dar formato a cierto tipo de numeros por ejemplo números con decimales:

In [ ]:
print('El numero pi es {:.3}'.format(3.141516))  # Estamos dando instrucciones para que solo imprima 3 digitos

El numero pi es 3.14

# Funciones y Condicionales

La funcion Def indica el inicio del encabezado de funcion, esto nos permite llamar los parametros establecidos por medio de este encabezado.

Los condicionales son funciones que retornan un valor predeterminado dependiendo de el cumplimiento de una condicion pre - establecida como por ejemplo 10 > 4.

In [ ]:
def HelloWorldXY(x,y):
    if (x < 10):
        print("Hellow World, x es < 10")
    elif (x < 20):
        print("Hello World, x es >= 10 pero < 20")
    else:
        print("Hello World, x es > 20")
    return x + y
for i in range(8, 25, 5): # i= 8, 13, 18, 23 (start, stop, step) 
    print("--- Ahora probamos con i: {}".format(i))
    r = HelloWorldXY(i,i)
    print("Result from HelloWorld: {}".format(i))

--- Ahora probamos con i: 8
Hellow World, x es < 10
Result from HelloWorld: 8
--- Ahora probamos con i: 13
Hello World, x es >= 10 pero < 20
Result from HelloWorld: 13
--- Ahora probamos con i: 18
Hello World, x es >= 10 pero < 20
Result from HelloWorld: 18
--- Ahora probamos con i: 23
Hello World, x es > 20
Result from HelloWorld: 23

In [ ]:
# Creemos una función para hacer una pregunta ¿Qué les parece?

def mi_pregunta(nombre="Ana", pregunta="¿Cuántos años tienes?"):
  print("Bienvenid@, {}\n\n¡Hola! Soy un programa sencillo y tengo una pregunta para ti.\n{}\n\n¡Gracias por tu tiempo!".format(nombre,pregunta))

In [ ]:
mi_pregunta(nombre='Pablo', pregunta='Cual es tu comida favorita?')

Bienvenid@, Pablo

¡Hola! Soy un programa sencillo y tengo una pregunta para ti.
Cual es tu comida favorita?

¡Gracias por tu tiempo!

In [ ]:
# Cambiemos los parámetros de nombre y pregunta

mi_pregunta(nombre="Santos",pregunta="¿Cuál es tu comida favorita?")

Bienvenid@, Santos

¡Hola! Soy un programa sencillo y tengo una pregunta para ti.
¿Cuál es tu comida favorita?

¡Gracias por tu tiempo!